<!-- Education -->
  <h2 class="f2 ph3 ph0-l avenir b tc black-text center">Education</h2>
  <section class="ph3 ph5-ns pv4 avenir">
    <article class="mw7 center br2 ba b--white bg-lightest-blue mb5">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dib v-mid">
          <img class="ba b--white-10 db br2 w3 w4-ns h3 h4-ns" src="https://pbs.twimg.com/profile_images/996068327205187585/iFfSinHf_400x400.jpg" />
        </div>
        <div class="dib v-mid mb2 mt3 measure">
          <div>
            <span class="f4 b black-text dib mt0 mb1">San Diego State University</span>
            <span class="f6 dib black-70">, San Diego, CA</span>

            <span class="f5 b db black-70 mb1">Master of Science in Computer Science</span>
            <span class="f6 db black-70 mb3">Dec 2018</span>

            <p class="black-70 measure lh-copy mv0 tj">
              <b> Course Work: </b> Advanced Web Application Development, Machine Learning, Advanced Algorithms and Data Structures, Database Theory Implementation, Spatial Databases,

            </p>
          </div>
        </div>
      </div>
    </article>

    <article class="mw7 center br2 ba b--white bg-lightest-blue mb3">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dib v-mid">
          <img class="ba b--black-10 db br2 w3 w4-ns h3 h4-ns" src="http://lh3.googleusercontent.com/sh6u88vb-D4_hV7jC4b1LxZ-eluzl-uofZO9XLeh3ShTStT07hShCtfus2piTKeKxA=w300" />
        </div>
        <div class="dib v-mid mb3 mt3">
          <div>
            <span class="f4 b black-text dib mt0 mb1">The National Institute of Engineering</span>
            <span class="f6 dib black-70">, Mysuru, India</span>

            <span class="f5 b db black-70 mb1">Bachelor of Engineering in Electrical and Electronics Engineering</span>
            <span class="f6 db black-70 mb3">June 2016</span>

            <p class="black-70 measure lh-copy mv0 tj">
              <b> Course Work: </b> Basic Web Application Development, Algorithms and Data Structures, C Programming, Database Management Systems, Operating Systems
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
