<!-- Nav bar -->
<nav class="flex justify-between bb b--white-10 bg-light-red w-100 avenir pl3">
  <div class="pa3 items-center w-100">
    <div class="fr">
      <a routerLink="/" class="f7 link di white dim mr3 mr4-ns">About</a>
      <a routerLink="/projects" class="f7 link di white dim mr3 mr4-ns">Projects</a>
      <a routerLink="/education" class="f7 link di white dim mr3 mr4-ns">Education</a>
      <a routerLink="/experience" class="f7 link di white dim mr3 mr4-ns">Experience</a>
      <a href="assets/images/resume.pdf" class="f7 link di white dim mr3 mr4-ns" target="_blank">Resume</a>
    </div>
  </div>
</nav>
