<footer>
<div class="bg-mid-gray avenir">
    <p class="f5 white-70 tc pt4 pb2">
      All rights reserved. Designed and developed by Namratha Prabhu.
    </p>
    <div class="db black-70 tc center v-mid pb4">
      <a href="mailto:nprabhu@sdsu.edu" class="link dim dib mr3 white-70 db w2 h2" title="Impossible Labs on Facebook" target="blank">
        <i class="fa fa-2x fa-envelope-square social-icon"></i>
      </a>

      <a href="https://www.facebook.com/namratha.prabhu.756" class="link dim dib mr3 white-70 db w2 h2" title="Impossible Labs on Facebook" target="blank">
        <i class="fa fa-2x fa-facebook-square"></i>
      </a>

      <a href="https://github.com/namrathaprabhu" class="link dim dib white-70" target="blank">
        <i class="fa fa-2x fa-github-square social-icon"></i>
      </a>

      <a class="link dim dib mr3 white-70 w2 h2 ml3" href="https://www.linkedin.com/in/namrathaprabhu/" title="github" target="blank">
        <i class="fa fa-2x fa-linkedin-square social-icon"></i>
      </a>
    </div>
  </div>
</footer>
