<!-- About me  -->
<article class="athelas">
  <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(http://20ta30.com/media/2016/05/parallaxbg.jpg) no-repeat center;">
    <div class="dtc pt4">
      <img src="assets/images/download.png" class="br-100 h4 w4 dib" title="Namratha Prabhu">
      <h4 class="f2 fw1 i black-60">Hi, I am Namratha Prabhu. Welcome to my webpage :)</h4>
      <blockquote class="ph0 mh0 measure f4 lh-copy center">
        <p class="fw1 tracked black-70 tj">
          I am a Computer Science graduate student at San Diego State University. I will be graduating in December 2018. Currently I am working as a Software Engineer Intern at Rehinged in San Diego, CA.
          I have experience in Web and Software Development. <br><br>Actively looking forward for a full-time position which will
          enable me to utilize and enhance my skills to build and test software products with my technical experience.
        </p>
        <p class="fw1 tracked black-70 tj">My updated resume can be found <a href="assets/images/resume.pdf" class="link dim blue" target="_blank">here</a></p>
        <a routerLink="/education"><i class="fa fa-chevron-down black-70"></i></a>
      </blockquote>
    </div>
  </div>
</article>
