<div class="vh-100 dt w-100 tc black-text cover bg-washed-yellow">
  <section class="mw7 center avenir">
  <h2 class="f2 ph3 ph0-l measure b tc">Work Experience</h2>

    <!-- Rehinged -->
    <div class="bb b--black-10 bg-lightest-blue">
      <a class="db pv4 ph3 ph0-l no-underline black-text dim">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/d2m2niconoxdzx9iv9zr"
            class="pa3" alt="rehinged">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <span class="f3 fw1 b lh-title black-text db mt0 mb1 tl"><b>Software Engineer Intern, Rehinged</b></span>
            <span class="f6 fw1 db lh-title black-text b tl"><b>San Diego, CA</b></span>
            <p class="f6 f5-l lh-copy tj pr3">
              ▪Developing an interactive User Interface using HTML, CSS, Angular 6 and Angular Material<br>
              ▪Integrated user facing angular components with server side using RESTful Web Services<br>
              ▪Responsible for Writing detailed design documentation, create unit and sub system test cases using Karma, Mocha for API testing; Using JIRA to keep track of bugs to reduce downtime, increase productivity, and communication<br>
            </p>
            <p class="f6 f5-l lh-copy black-60 b tl">Technology Stack: Angular, Angular CLI, Angular Material, TypeScript, Webpack, Tachyon, Docker, Node.js, Karma, Mocha, PostgreSQL, Git</p>
          </div>
        </div>
      </a>
    </div>

    <!--  VLI-EV -->
    <article class="bb b--black-10 bg-washed-green">
      <a class="db pv4 ph3 ph0-l no-underline black-text dim">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://lh3.googleusercontent.com/AAij_VnvfFElaQvle28bAaVVZt2IJPDXMZ8eVSLNZEAHlgj4fSbGOAQXYPfcBrEcWkoWTFozhxBZFU2xS_3QtAPtustG98Ha5yZtk0s"
            class="pa3-ns" alt="vli-ev">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <span class="f3 fw1 b lh-title black-text db mt0 mb1 tl"><b>Software Engineer Intern, VLI - EV</b></span>
            <span class="f6 fw1 db lh-title black-text b tl"><b>San Diego, CA</b></span>
            <p class="f6 f5-l lh-copy tj pr3">
              ▪ Involved in developing web application using React JS components, Forms, Events, Keys, Router, Animations and Flux concept<br>
              ▪ Worked on Lifecycle Methods, State, Props, and Events to create interactive and stateful React Components, achieved routing using react-router;
               Maintained states in the stores and dispatched the actions using redux<br>
              ▪ Used Middleware, Redux-Promise in application to retrieve data from Back-End and to also perform RESTFUL services<br>
            </p>
            <p class="f6 f5-l lh-copy black-60 b tl">Technology Stack: React.js, Redux, HTML, CSS3, JavaScript, REST, MongoDB, Git </p>
          </div>
        </div>
      </a>
    </article>

    <!--  Loctell Solutions -->
    <article class="bb b--black-10 bg-washed-red">
      <a class="db pv4 ph3 ph0-l no-underline black-text dim">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="http://www.thoughtapult.com/images/home/13.jpg"
            class="pa3-ns" alt="loctell solutions">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <span class="f3 fw1 b lh-title black-text db mt0 mb1 tl"><b>Software Engineer, Loctell Solutions</b></span>
            <span class="f6 fw1 db lh-title black-text b tl"><b>Bengaluru, India</b></span>
            <p class="f6 f5-l lh-copy tj pr3">
              ▪ Developed an Audit Tool application using Java, Swing, HTML, Javadoc to facilitate system data interpretation and presentation<br>
              ▪ Analyzing, troubleshooting, maintaining software for client's multilayered systems and preparing solution design document; Used Selenium WebDriver, Java and TestNG for testing<br>
              ▪ Configured and maintained continuous test integration and automatic build for regression testing using Jenkins<br>
            </p>
            <p class="f6 f5-l lh-copy black-60 b tl">Technology Stack: Java, Swing, Javadoc, JavaScript, MySQL, Selenium, TestNG, Git, Docker</p>
          </div>
        </div>
      </a>
    </article>
  </section>
</div>
