<section class="mw7 center avenir">
  <h2 class="f2 ph3 ph0-l measure b tc">Projects</h2>

  <!-- Awesome places mobile application -->
  <article class="bt bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="https://udemy-images.udemy.com/course/750x422/891474_a221_4.jpg"
          class="db" alt="Awesome places mobile application">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Awesome Places Mobile Application</b></h1>
          <p class="f6 f5-l lh-copy tj">
            A mobile app where users can share amazing pictures and the location where they took them.
            This app will allow user to see things like using maps, the camera, user authentication, connecting to a server and much more in action.
          </p>
          <p class="f6 f5-l lh-copy black-60 b">Technology Stack: React.js, React Native, Redux, JavaScript, Firebase </p>
        </div>
      </div>
    </a>
  </article>

  <!--  Recipe Book and Shopping List App -->
  <article class="bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="http://zgrauerholz.com/images/Recipe-Book-800.png" class="db" alt="Recipe book app">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Recipe Book and Shopping List App</b></h1>
          <p class="f6 f5-l lh-copy tj">
            Designed and Developed a Single Page Application which had two sections shopping list and recipe book.
            Recipes in the app can be added, managed, and viewed in detail and manage the shopping list and push ingredients from the recipe directly to a shopping list
          </p>
          <p class="f6 f5-l lh-copy black-60 b">Technology Stack: Angular, Angular CLI, Bootstrap, HTML, CSS3, TypeScript, NoSQL </p>
        </div>
      </div>
    </a>
  </article>

  <!--  Personal Notepad App -->
    <article class="bb b--black-10">
      <a class="db pv4 ph3 ph0-l no-underline black dim">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/61-c1M86BwL.png"
            class="db" alt="Notepad app">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Personal Notepad App</b></h1>
            <p class="f6 f5-l lh-copy tj">
              Developed a MEAN stack application that allows user to create and upload a post with location, images and videos
            </p>
            <p class="f6 f5-l lh-copy black-60 b">Technology Stack: MongoDB, Express.js, Angular, Node.js, Angular Material, TypeScript, Angular CLI</p>
          </div>
        </div>
      </a>
    </article>

    <!--  Online Camera Store -->
      <article class="bb b--black-10">
        <a class="db pv4 ph3 ph0-l no-underline black dim">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="assets/images/camerastore.jpg" class="db vh5" alt="Camera store">
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Online Camera Store</b></h1>
              <p class="f6 f5-l lh-copy tj">
                Designed and developed an E-Commerce online store by understanding business requirements.
                Integrated cross browser compatible applications.
                Created an inventory application to add, edit and delete inventory records by an authorized company employee for new products to sell.
                Implemented concepts like State Management, Sessions and Cookies, Encryption and Data Serialization
              </p>
              <p class="f6 f5-l lh-copy black-60 b">Technology Stack: Java Servlets, JavaScript, Perl, jQuery, MySQL, HTML5, CSS3, JDBC, EJB, Linux </p>
            </div>
          </div>
        </a>
      </article>

    <!--  Bertha's Chocolate Shop -->
      <article class="bb b--black-10">
        <a class="db pv4 ph3 ph0-l no-underline black dim">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="http://andrewebdev.com/images/header4.jpg" class="db" alt="chocolate">
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Bertha' Chocolate Shop</b></h1>
              <p class="f6 f5-l lh-copy tj">
                Created an online chocolate store where customers can view variety of chocolates offered by chocolate company and make orders.
                Made a report of all orders placed and was made available for management
              </p>
              <p class="f6 f5-l lh-copy black-60 b">Technology Stack: HTML5, CSS, JavaScript, jQuery, AJAX, JSON, MySQL, Perl </p>
            </div>
          </div>
        </a>
      </article>

    <!--  SDSU-Marathon registration website -->
      <article class="bb b--black-10">
        <a class="db pv4 ph3 ph0-l no-underline black dim">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="assets/images/SDSUmarathon.png" class="db vh5" alt="SDSU Marathon web page">
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw1 mt0 lh-title b black-100"><b>SDSU-Marathon registration website</b></h1>
              <p class="f6 f5-l lh-copy tj">
                Constructed a single page web application for runners to register for SDSU marathon.
                Developed AJAX calls to REST API’s to retrieve data from server in JSON format.
                Devised a report with details of all registered runners for SDSU Marathon authority
              </p>
              <p class="f6 f5-l lh-copy black-60 b">Technology Stack: HTML5, CSS, JavaScript, jQuery, AJAX, MySQL, PHP</p>
            </div>
          </div>
        </a>
      </article>


  <!--  Connect 4-->
  <article class="bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="http://exchangedownloads.smarttech.com/public/content/7f/7fdc0436-bbaf-4909-95ce-257e6ebad911/previews/medium/0001.png"
          class="db" alt="Connect four">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Connect Four Game</b></h1>
          <p class="f6 f5-l lh-copy tj">
            Developed a two player Connect 4 game where each player chooses a color and the first to form a horizontal,
            vertical, or diagonal line of four of one's own discs.
          </p>
          <p class="f6 f5-l lh-copy black-60 b">Technology Stack: HTML, CSS, JavaScript </p>
        </div>
      </div>
    </a>
  </article>

<!--  E - Voting Website -->
  <article class="bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="https://pbs.twimg.com/profile_images/996068327205187585/iFfSinHf_400x400.jpg" class="db" alt="E-voting website">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title b black-100"><b>E - Voting Website</b></h1>
          <p class="f6 f5-l lh-copy tj">
            Built an online voting system for SDSU management where students can login and cast vote.
            Proposed a report of number of votes obtained by each candidate to SDSU management.
            Management utilized this report to choose elected student in each category; saved time over counting votes manually
          </p>
          <p class="f6 f5-l lh-copy black-60 b">Technology Stack: MySQL, HTML5, CSS, JavaScript, PHP </p>
        </div>
      </div>
    </a>
  </article>

  <!--  Hospital Management System -->
  <article class="bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="assets/images/hospital.jpg" class="db" alt="Hospital managemnet system">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 mt0 lh-title b black-100"><b>Hospital Management System</b></h1>
          <p class="f6 f5-l lh-copy tj">
            Built a website for hospital management details of all patients and doctors are stored.
            Constructed code to generate a unique ID for each patient and used unique ID to store details of patients.
            Included a login screen where authorized hospital employee can login and search patient’s ID to know details, status of patient and to generate bill
          </p>
          <p class="f6 f5-l lh-copy black-60 b">Technology Stack: MySQL, HTML5, CSS, JavaScript, PHP </p>
        </div>
      </div>
    </a>
  </article>

</section>
